

.ico-book:before {
  content: "\e908";
}
.ico-design-tool:before {
  content: "\e900";
}
.ico-development:before {
  content: "\e901";
}
.ico-persons:before {
  content: "\e902";
}
.ico-quality:before {
  content: "\e903";
}
.ico-setting:before {
  content: "\e904";
}
.ico-social:before {
  content: "\e905";
}
.ico-ux:before {
  content: "\e906";
}
.ico-video-screen:before {
  content: "\e907";
}
